
<div class="homepage-container">

	<p>this content is placed inside the \{{{ body }}} tag of the main layout</p>
		
	<p>Variable with key of `something`: <strong>{{ something }}</strong></p>
		
	<a href="/form"> Click here to go to the form page</a>
	
</div>