<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="/styles/stylesheet.css">
</head>
<body>
	<h1>Yorks Demo App - <em>{{ pagename }}</em></h1>

	{{{ body }}}
	
</body>
</html>